In [ ]:
#https://www.dataquest.io/blog/python-excel-xlwings-tutorial/

In [56]:
import pandas as pd
import xlwings as xw
df = pd.read_csv(r'C:\Users\jaw\OneDrive - Mountain G. Enterprises, Inc\Documents\Programming\xlwings\Dataquest_Tutorial\euromillions.csv')
df.sample(5)

,No.,Day,DD,MMM,YYYY,N1,N2,N3,N4,N5,L1,L2,Jackpot,Wins
354,898,Fri,29,Apr,2016,4,25,28,5,43,6,11,37275721,0
1154,98,Fri,23,Dec,2005,31,42,37,36,15,1,7,45483082,0
790,462,Fri,24,Feb,2012,34,3,12,26,7,10,8,46432285,1
1021,231,Fri,11,Jul,2008,37,19,11,13,9,3,4,12022500,1
4,1248,Fri,6,Sep,2019,13,22,40,10,48,5,2,125665319,0

In [57]:
wb = xw.Book() # wb = xw.Book(filename) would open an existing file

In [58]:
print(xw.apps)

Apps([<Excel App 3892>])

In [59]:
print(wb.sheets)

Sheets([<Sheet [Book1]Sheet1>, <Sheet [Book1]ESRI_MAPINFO_SHEET>])

In [60]:
#creates a worksheet object assigns it to ws
ws = wb.sheets["Sheet1"]
#checks that wb.sheets[0] equals ws
print(ws == wb.sheets[0])

True

In [61]:
ws.name = "EuroMillions"

In [62]:
#ws.range("A1") is a Range object
ws.range("A1").value = df

In [63]:
ws.clear_contents()

In [64]:
ws.range("A1").options(index=False).value = df

In [65]:
last_row = ws.range(1,1).end('down').row
print("The last row is {row}.".format(row=last_row))
print("The DataFrame df has {rows} rows.".format(rows=df.shape[0]))

The last row is 1253.
The DataFrame df has 1252 rows.

In [66]:
ws.range(
"A2:N{row}".format(row=last_row)
).api.Sort(Key1=ws.range("A:A").api, Order1=1)

True

In [67]:
ws.range("O1").value = "Date"

In [68]:
ws.range("O2").value = "=C2&D2&RIGHT(E2, 2)"

In [69]:
ws.range("O2").api.AutoFill(ws.range("O2:O{row}".format(row=last_row)).api,0)

True

In [70]:
def autofill(worksheet, cell, last_row):
   rg_cell = worksheet.range(cell)
   to_fill = "{col}{top_row}:{col}{last_row}".format(
      col=rg_cell.get_address(0,0)[0],
      top_row=rg_cell.row,
      last_row=last_row
   )
   rg_cell.api.Autofill(worksheet.range(to_fill).api, 0)

In [71]:
print(type(ws.range("O2:O{row}".format(row=last_row)).value))

<class 'list'>

In [72]:
print(ws.range('O2:O{row}'.format(row=last_row)).value[:10])

['13Feb04', '20Feb04', '27Feb04', '5Mar04', '12Mar04', '19Mar04', '26Mar04', '2Apr04', '9Apr04', '16Apr04']

In [73]:
ws.range('O2').options(transpose=True).value = ws.range('O2:O{row}'.format(row=last_row)).value

In [74]:
ws.range('C:E').api.Delete()

True

In [75]:
ws.range('1:1').api.Font.Bold = True

In [77]:
ws.range('J:J').number_format = "$#,##0"

In [78]:
last_column = ws.range(1,1).end('right').get_address(0,0)[0]

In [79]:
print(last_column)

L

In [80]:
ws.range('A1:{}1'.format(last_column)).api.Borders(9).LineStyle = -4119

In [81]:
ws.autofit()

In [82]:
ws.range('A:L').api.ColumnWidth = ws.range('J:J').api.ColumnWidth

In [83]:
wb.sheets.add('Frequencies')

In [84]:
frequencies = wb.sheets['Frequencies']